
  <div class="jumbotron">
  <h2> Ask A Question </h2><br>
  <%= form_for @questions do |f| %>

  <%= f.label :title, "Whats your question?" %><br />
  <%= f.text_field :title, :size => 101 %><br /><br />

  <%= f.label :body, "Please provide as much detail as possible." %><br />
  <%= f.text_area :body, :cols => "100", :rows => "10" %><br /><br />

  <%= f.submit "Ask Question" %><br>

  <% end %><br>
  </div>
