<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>




  <div class="top-bar">
    <div class="container">
      <a class="logo" href="/">Directory</a>
      <ul class="top-bar-section">
        <% if signed_in? %>
        <li><a href="/questions/new">Ask A Question</a></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>




  <% if flash.any? %>
    <div class="flash">
      <div class="container">
        <ul style="margin: 0">
          <% if alert != nil %>
          <li><%= alert %></li>
          <% elsif notice.is_a? String %>
          <%= notice %>
          <% elsif notice.size == 1 %>
            <li><%= notice.first %></li>
<!--             <%= alert %> -->
          <% else %>
            <% flash[:notice].each do |flash| %>
            <li><%= flash %></li>
            <% end %>
            <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="container">

<%= yield %>

</div>

</body>
</html>
