<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>




  <div class="top-bar">
    <div class="container">
      <a class="logo" href="/">Directory</a>
      <ul class="top-bar-section">
        <li><a href="/questions/new">Ask A Question</a></li>
        <% if signed_in? %>
          <li><a href="/sign_out">Sign out</a></li>
          <li><%= link_to "Sign Out", destroy_user_session_path %></li>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>


  <% if flash.any? %>
    <div class="flash">
      <div class="container">
        <ul style="margin: 0">
          <div class="notice devise"><%= notice %></div>
          <div class="alert devise"><%= alert %></div>
          <% binding.pry %>
          <% flash[:notice] = [flash["notice"]] %>
        <% flash[:notice].each do |flash| %>
        <li><%= flash %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>



<%= yield %>

</body>
</html>
